@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'montserrat', sans-serif;

   --gradient-text: linear-gradient(89deg, rgba(5,59,80,1) 5%, rgba(2,125,172,1) 100%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-blue:rgb(11, 111, 118);
  --color-dark: black;
  --color-light: rgb(23, 22, 22);
  --color-lighter: #3f3f3f;
  --color-lightest: #d9dcdc;
  --color-bg: #EEEEEE;
}